<div id="sidebar-wrapper">
  <ul class="sidebar">
    <li class="sidebar-main">
      <a href="#" ng-click="">
        Brainer
      </a>
    </li>
    <li class="sidebar-title"><span>NAVIGATION</span></li>
    <li class="sidebar-list">
      <a href="#/dashboard">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
    </li>
    <li class="sidebar-list">
      <a href="#/tables">Tables <span class="menu-icon fa fa-table"></span></a>
    </li>
    <li class="sidebar-list">
      <a href="#">Servers <span class="menu-icon fa fa-tasks"></span></a>
    </li>
    <li class="sidebar-list">
      <a href="#">Settings <span class="menu-icon fa fa-cogs"></span></a>
    </li>
    <li class="sidebar-title separator"><span>QUICK LINKS</span></li>
    <li class="sidebar-list">
      <a href="#" target="_blank">Forums <span class="menu-icon fa fa-external-link"></span></a>
    </li>
  </ul>
  <div class="sidebar-footer">
    <div class="col-xs-4">
      <a href="https://github.com/Ehesp/Responsive-Dashboard" target="_blank">
        Github
      </a>
    </div>
    <div class="col-xs-4">
      <a href="#" target="_blank">
        About
      </a>
    </div>
    <div class="col-xs-4">
      <a href="#">
        Support
      </a>
    </div>
  </div>
</div>